.check-box .box {
    -fx-border-color: lightgray;
    -fx-border-width: 1;
    -fx-border-radius: 2;
}
.check-box:selected .box {
    -fx-border-color: lightgray; /* Giữ viền cùng màu */
    -fx-background-color: white; /* Nền ô vuông màu trắng */
}
.text-field{
    -fx-background-color:  #3a3f42;
    -fx-background-radius: 8;
    -fx-border-color:  #555b60;
    -fx-border-radius: 8;
    -fx-text-fill: white;
}
.text-area{
    -fx-background-color:  #3a3f42;
    -fx-background-radius: 8;
    -fx-border-color:  #555b60;
    -fx-border-radius: 8;
    -fx-padding: 8;
    -fx-text-fill: white;
    -fx-control-inner-background:  #3a3f42;
}
.combo-box{
    -fx-background-color:  #3a3f42;
    -fx-background-radius: 8;
    -fx-border-color:  #555b60;
    -fx-border-radius: 8;
    -fx-text-fill: white;
}
/* Màu chữ mặc định và màu nền của các lựa chọn trong menu thả xuống */
.combo-box .list-cell {
    -fx-text-fill: white;
    -fx-background-color: #3a3f42; /* Nên để nền tối để thấy chữ màu trắng */
}

/* Đổi màu khi di chuột qua (Hover) hoặc khi được chọn */
.combo-box .list-cell:hover,
.combo-box .list-cell:selected {
    -fx-text-fill: white;
     /* Màu nền khi chọn */
}